@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}

body{
    overflow-x: hidden;
    background-color: #747b82;

}


#header{
    width: 100%;
    max-height: 65px;
    background-color: #8c9299 ;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    box-shadow: 0px -5px 20px 16px #8c9299 ;
    position: fixed;
    color: #ececee;

}

.nav{
    display: flex;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-list a{
    color: #ececee;
}

.menu-icon {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 20px;
    flex-direction: column;
    gap: 5px;
    color: #ececee;

}
#menu-nav,
.menu-nav{
    display: none;
}

.menu-line{
    width: 100%;
    height: 2px;
    background-color: #ececee;
    color: #ececee;

}


#hero{
    display: flex;
    gap: 30px;
}

.hero-img{
    max-width: 800px;
}
.hero-img img{
    background-size: cover;
    width: 100vw;
}

.hero-home{
    font-size: 23px;
    max-width: 700px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px;
    color: #ececee;

}

#benefist{
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefist-info{
    width: 100%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    text-align: center;
    color: #ececee;

}

.benefist-info_list{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
}

.benefist-info_list_box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 300px;
    width: 100%;
    background-color: #44484b;
    border: 2px solid #ececee;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
}

.benefist-info h2{
    font-size: 30px;
    font-weight: 700;
}

.benefist-info:last-child {
    font-size: 20px;
}
.benefist-info_list_box h3{
    font-size: 20px;
}
.benefist-info_list_box P{
    font-size: 16px;
}

/*CARDS*/
#cards{
    display: flex;
    flex-direction: column;
}

.cards{
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 100%;
    width: 100%;
    height: 400px;
    padding: 0px 50px;
    gap: 50px;
}

.cards img{
    width: 500px;
}

.demo img{
    order: 2;
    height: 400px;
}
.via img{
    order: 2;
}

.central,
.ca{
    background-color: #fccc04;
}

.via{
    background-color: #f4f4f4 ;
}
.demo{
    background-color: white;
}

#contact{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 50px;
}
iframe{
    border-radius: 1rem;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #ececee;

}
.contact h3{
    font-size: 25px;
}
.contact-icon{
    display: flex;
    gap: 20px;
}
.contact-icon a>img{ 
    width: 40px;
} 

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}